<template>
  <b-row class="vh-100 vw-100 row-login">
    <b-col sm="6" class="d-flex justify-content-center align-items-center left-login">
      <div class="col-8">
        <h2>Perguntas & Respostas</h2>
        <h3>App desenvolvida em VueJs</h3>
        <h2><img src="@/assets/logo.png" alt="Login" class="img-login"/> Login</h2>
        <b-form>
          <!-- email -->
          <b-form-group label="E-mail" label-for="email">
            <b-form-input
              id="email"
              type="email"
              placeholde="Digite seu email"
              autocomplete="off"
              v-model="form.email"
            ></b-form-input>
          </b-form-group>
          <!-- senha -->
          <b-form-group label="Senha" label-for="senha">
            <b-form-input
              id="senha"
              type="password"
              placeholde="Digite sua senha"
              v-model="form.senha"
            ></b-form-input>
          </b-form-group>  
          <!--  botão acessar -->
          <b-button
           type="button" 
           variant="success"
           block
           v-on:click="login">
            <b-icon icon="box-arrow-in-right"></b-icon> Acessar
          </b-button>
          <!--  botão não tenho conta -->
          <b-button
           type="button" 
           variant="secondary"
           block
           v-on:click="register">
            <b-icon icon="person-plus-fill"></b-icon> Não tenho Conta
          </b-button>
        </b-form>
      </div>
    </b-col>
    <b-col sm="6">

    </b-col>
  </b-row>
</template>

<script>
  export default {
    name: 'LoginView',
    data() {
      return {
        form: {
          id: '',
          email: '',
          senha: ''
        }
      }
    },
    methods: {
      login() {
        console.log('Login...')
      },
      register() {
        console.log('Register...')
      }      
    }
  }
</script>

<style scoped>
  *, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  .row-login {
    margin-left: 0;
  }

  .left-login {
    color: #ffffff;
    background-color: #DC3545;
  }

  .img-login {
    width: 15%;
  }
</style>